<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/css/bootstrap.css"
          th:href="@{css/bootstrap.css}">
    <title>Users</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-group" th:action="@{registration}" method="post">

                <div class="form-group">
                    <label name="nom" class="custom-control-label">Saisie votre login </label>
                    <input class="form-control" type="text" name="login" th:value="${ user.login }" />
                </div>  <div class="form-group">
                <label name="nom" class="custom-control-label">Saisie votre Nom</label>
                <input class="form-control" type="text" name="nom" th:value="${ user.nom }" />
            </div>
                <div class="form-group">
                    <label name="prenom" class="custom-control-label">Saisie votre Prenom</label>
                    <input class="form-control" type="text" name="prenom" th:value="${ user.prenom }" />
                </div>
                <div class="form-group">
                    <label name="email" class="custom-control-label">Saisie votre email</label>
                    <input class="form-control" type="text" name="email" th:value="${ user.email }" />
                </div>
                <div class="form-group">
                    <label name="tel"class="custom-control-label">Saisie votre Télephone</label>
                    <input class="form-control" type="text" name="tel" th:value="${ user.tel }" />
                </div>
                <div class="form-group">
                    <label name="tel"class="custom-control-label">Saisie votre Date de Naissence</label>
                    <input class="form-control" type="text" name="dateNaissence" th:value="${ user.dateNaissence }" />
                </div>
                <div class="form-group">
                    <label name="prenom" class="custom-control-label">Saisie votre Password</label>
                    <input class="form-control" type="password" name="password" th:value="${ user.password }" />

                </div>

                <input class="form-control" type="hidden" name="text" th:value="${ user.active }" />

                <button type="submit" class="btn btn-primary">save</button>
            </form>
        </div>
    </div>
</div>


</body>
</html>